body{
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
hr{
  margin: 1.5rem 0;
}

.container{
  margin-top: 10%;
}

/* card */
.price-value{
  font-size: 3rem;
}
.duration{
  text-align: center;
}
.pricingtitle{
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  margin: 1rem;
  text-align: center;
}

.pricing{
  border-radius: 1.5rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
@media (min-width: 992px) {
  .pricing:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }}

.pricingbody{
  margin:1.5rem 1rem;
}
li{
  margin-bottom: 1rem;
 
}
.fa-ul{
  list-style-type: none; 
  letter-spacing: 0.01rem;
  margin-bottom: 2rem;
  
}
.fa-li{
  margin-left:0rem;
}

.cardbutton{
  padding: 0.5rem 4rem;
  border-radius: 5rem;
  opacity: 0.7;
  transition: all 0.2s;
  width: 100%;
  /* margin-left: 20%; */
}

.cardbutton:hover{
  opacity: 1;
}
